@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

/* LIST */
.options
{
	background:#99ffff;
	padding:20px;
	width:60%;
	
	@include center();
}

#list table
{
	width:60%;
	@include center();
}

#list table td, .options
{
	border: 1px solid $offBlack;
}

#list h1
{
	margin:20px;
}

.listPics
{
	height:75%;
	width:auto;
}

.listText
{
	margin-top:15px;
	font-weight:bold;
}

#input, #dropDown
{
	width:25%;
	margin:15px;
}

/* GALLERY */

#gallery img
{
	float:left;
	height:300px;
	width:200px;
	margin: 35px;
	box-shadow: 10px 10px 10px #888888;
}

#gallery h1
{
	@include center();
}

.genres
{
	display:inline;
}

/* DETAILS */

.detailsImage
{
	@include center();
}

.detailsText
{
	@include center();
}

.detailsContainer
{
	background-color:#eee;
	padding:30px;
}

.arrows
{
	font-size:4vh;
	margin-left:30px;
	margin-right:30px;
}

.buttons
{
	@include center();
}

/* LIBRARY FIXES */
.row
{
	max-width:1000000rem !important;
}

.columns, .column
{
	padding: 0px !important;
}

/* OTHER */

html, body 
{
  width: 100%;
  height: 100%;
  background: url('../data/back.jpg');
  font-family: 'Montserrat', sans-serif;
}

.vert 
{
	position: relative;
	top: 50%;
	transform: translateY(-50%);	
}

.active
{
	background-color:#0066ff !important;
}