<div id="gallery">

	<div class="row">
		<div class="buttons">
			<div ng-repeat="genre in genres" class="genres">
				<a class="button" ng-class="{active: $index===selectedIndex}" ng-click="updateGenre(genre, $index)" > {{genre}} </a>
			</div>
		</div>
		<br>
		<div class="small-7 small-centered columns" ng-repeat="movie in movieData | filter:filterByGenres">
			<a href="#/details/{{movie.rank}}"> <img class="listPics hvr-float" ng-src="./data/images/{{movie.imdbID}}.jpg" /> </a>
		</div>
	</div>

</div>