<div id="list">

	<div class="options">
			<h1> IMDB Top 250 Movie Directory </h1>
			<div class="buttons">
				<a href="#/gallery" class="button"> Gallery </a>
				<a href="#/list" class="button"> List </a>
			</div>
			</br>
			Search: <input id="input" placeholder="Search for a movie..." ng-model="query[drop.down]" />
			</br>
			Sort by: <select id="dropDown" ng-model="drop.down" ng-options="option.value as option.name for option in dropdowns" ng-change="clear()"> </select>
			</br>
			<input type="radio" name="Ascending" value="0" ng-checked="true" ng-model="direction.direc" ng-change="sortReverse = 0"> Ascending
			<input type="radio" name="Descending" value="1" ng-model="direction.direc" ng-change="sortReverse = 1"> Descending
	</div>
	
	
	<table>
		
	  <tr ng-repeat="movie in movieData | filter:query | orderBy:drop.down:sortReverse">
			
			<td>
				<a href="#/details/{{movie.rank}}"> <img class="listPics hvr-grow" ng-src="./data/images/{{movie.imdbID}}.jpg" /> </a>
				<div class="listText"> {{ movie.title }} <br> Rank: {{movie.rank}} <br> IMDB Rating: {{movie.imdbRating}}</div>
			</td>	
	  </tr>
	</table>
	
	
</div>